{% extends "html/index.html" %}
{% block nav_right %}
  <a class="nav-item nav-link" href="{{ url_for('dep.add_department') }}">New department</a>
{% endblock %}
{% block content %}
  <div class="content-section">
    <h1>Departments</h1>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Average Salary</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for department in departments %}
          <tr>
            <td><a href="{{ url_for('dep.show_department', department_id=department.id) }}">{{ department.name }}</a></td>
            <td>{{ avg_salaries[department.id] }}</td>
            <td><a class="btn btn-secondary btn-sm" href="{{ url_for('dep.update_department', department_id=department.id) }}">Update</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}