{% extends 'index.html' %}
{% block content %}
      <div class="list_title"><b>Department</b></div>
      <form class="form" action="{{url_for('add_department')}}" method="post">
        <label for="department_id">Department number: </label>
        <input type="text" name="department_id" id="department_id" value="" minlength="5"
               maxlength="5">
        <br>
        <input type="submit" class="button save_button" name="save_button" value="SAVE">
        <div class="button"><a href="{{url_for('departments')}}">CANCEL</a></div>
      </form>
{% endblock %}