{% extends 'index.html' %}
{% block content %}
<div class="list_title"><b>Employees</b></div>
<div class="date">
    <form action="{{url_for('employees')}}" method="post">
    <label for="start">date from:</label>
    <input type="date" id="start" name="date_from" value="{{dates[0]}}">
    <label for="end">by:</label>
    <input type="date" id="end" name="date_by" value="{{dates[1]}}">
    <button type="submit" class="refresh_button" name="refresh_button">
        <img src="../static/refresh_button2.png" alt="">
    </button>
    </form>
</div>
<div class="row">
    <div class="name block title">Name</div>
    <div class="department block title">Department</div>
    <div class="birthday block title">Date of birthday</div>
    <div class="salary block title">Salary</div>
</div>
<div class="add_button"><a href="{{url_for('add_employee')}}">ADD</a></div>
{% for i in range(employees_list['names']|length) %}
    <div class="row">
            <div class="name block">{{employees_list['names'][i]}}</div>
    <div class="department block">{{employees_list['departments'][i]}}</div>
    <div class="birthday block">{{employees_list['dates_of_birthday'][i]}}</div>
    <div class="salary block">{{employees_list['salaries'][i]}}</div>
    </div>
    <div class="edit_button"><img src="../static/edit_button.png">
        <a href="{{url_for('employee', employee_id=employees_list['ids'][i])}}"></a></div>
    <div class="delete_button"><img src="../static/delete_button.png">
        <a href="{{url_for('del_employee', employee_id=employees_list['ids'][i])}}"></a></div>
{% endfor %}
{% endblock %}